* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}
body {
    text-align: center;
    font-family: sans-serif;
}

.head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 63px;
    background: #000;
    position: fixed;
    width: 100%;
    z-index: 100;
}

.navbar {
    display: flex;
    margin-right: 10px;
}

.log {
    margin-left: 40px;
}

.log a {
    text-decoration: none;
    color: #000 ;
    text-transform: uppercase;
    font-size: 30px;
}

.navbar a {
    display: block;
    padding: 15px 15px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 15px;
}

.navbar a:hover {
    background: #e91e63;
}


.header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
    background: url(img/url) no-repeat center;
    background-size: cover;
}

.title {
    margin-bottom: 40px;
    font-size: 60px;
    font-weight: 600;
    text-transform: uppercase;
    color: #fff;
}

p {
    margin-bottom: 40px;
    font-size: 18px;
    color: #fff;
    padding: 0 150px;
}

.btn {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 40px;
    border: 2px solid #e91e63;
    color: #fff;
    text-decoration: none;
    background: #e91e63;
}

.btn:hover {
    background: none;
}


.content {
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sau {
    padding: 50px 0;
    background: #303030;
}

.box-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: centers;
}

.box-container .box {
    height: 170px;
    width: 270px;
    background: #171717;
    text-align: center;
    border-radius: 20px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, .3);
    margin: 20px;
}

.box-container .box i {
    height: 50px;
    width: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 50%;
    color: #fff;
    background: #e91e63;
    font-size: 25px;
    margin: 10px 0;
}

.box-container .box h3 {
    font-size: 20px;
    color: #e91e63;
}

.box-container .box p {
    padding: 0 15px;
    font-size: 16px;
}

.price {
    background: url(img/costos.jpg) no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
}

.about {
    background: #303030;
    padding: 150px 0;
}

.box-container2{
    display: flex;
    justify-content: center;
    padding-top: 50px;
    flex-wrap: wrap;
}

.box-container2 .box {
    width: 250px;
    padding-bottom: 20px;
    text-align: center;
    box-shadow: 0 5px 5px #000(0, 0, 0, .3);
    background: #171717;
    margin: 20px 20px;
}

.box-container2 .box img {
    height: 50px;
    width: 50px;
    object-fit: cover;
    border-radius: 50%;
    margin-top: -50px;
    border: 6px solid #e91e63;
}

.box-container2 .box h3 {
    font-size: 50px;
    color: #e91e63;
    padding-top: 30px;
}

.box-container2 .box p {

    font-size: 18px;
    color: #fff;
    padding: 0;
}

.box-container2 .box .stars i {
    font-size: 18px;
    color: #e91e63;
}

.contact {
    padding: 50px 0;
    background: #303030;
}


.footer-section{
    display: flex;
}

.f-enlaces {
    display: flex;
    flex-direction: column;
    margin: 0 100px;
}

.f-enlaces a {
    color: #fff;
    text-decoration: none;
    margin-top: 20px;
}

@media (max-width: 768px) {
    p {
        padding: 0 50px;
    }
    .title{
        margin-bottom: 0px;
        font-size: 70px;
    }
    .sau {
        height: 100vh;
        padding: 50px 0;
    }
    .about {
        height: 100vh;
        padding: 50px 0;
    }
    
    .footer-section {
        display: flex;
        flex-direction: column;
    }
    
    .f-enlaces {
        display: none;
    }

    .navbar {
        display: none;
    }
}

 .logo{
    height: 30px;
    width: 30px;
 }

 .video{
    height: 500px;
    width: 500px;
  }

  .text-media{
    align-items: center;
    background: #000000;
    display: flex;
    flex-flow: column;
    padding: 50px 20px;
    text-align: left;
    }

    .video-background {
      display: flex;
      height: 200vh;
      margin-bottom: 100px;
      overflow: hidden;
      position: relative;
  }


  .video-background__content {
    bottom: 150px;
    left: 40px;
    position: absolute;
    right: 50px;
}


.video-background__title {
  display: block;
  font-weight: 900;
  margin-bottom: 0;
  color: #fff; 
}

.video-background__link {
  background: #e79b0dcb;
  border: 100;
  border-radius: 10px;
  border-color: #fff;
  color: rgb(255, 255, 255);
  display: inline-block;
  font-family: Noto Sans,Arial,Helvetica,sans-serif;
  font-size: .95em;
  font-weight: 500;
  letter-spacing: 4px;
  line-height: 1.43em;
  margin-top: 40px;
  overflow: hidden;
  padding: 19px 55px;
  position: relative;
  text-align: center;
  text-transform: uppercase;
}

